/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1. Global Page Setup */
body {
    margin: 3rem;
    max-width: 100vw;
    font-family: 'Helvetica', Arial, sans-serif;
    color: #f5f6f7;
    background-color: #232323;
}

section {
    width: 100%;
    padding-bottom: 6rem;
}

/* Grid Setup */
.grid, .resume-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 3rem;
}
.col-1 {
    grid-column: span 1;
}
.col-2 {
    grid-column: span 2;
}
.col-3 {
    grid-column: span 3;
}
.col-4 {
    grid-column: span 4;
}
.grid-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}
.resume-grid::before {
    content: "";
    grid-column: 1 / span 2;
}